body {
    background-color: rgb(190, 201, 190);
}

#container {
    margin: auto;
    width: 500px; 
}

#contents {
    background-color: rgb(188, 218, 243);
    border-radius: 10px;
}

h3 {
    border-radius: 10px;
}

p {
    margin: auto;
    width: 50%;
}